.fa-section-container {
  padding: 5rem 112px 16px 64px;
  background-color: #fff9f3;
}
.fa-section-fa-section {
  /* width: 100%;
  height: 820px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  /* flex-shrink: 0;
  background-color: var(--dl-color-colors_tertiary2-tertiary22);
  border-color: transparent; */
  /* border: 1px solid black; */
}
.fa-section-content {
  /* width: 863px; */
  display: flex;
  padding: 40px 0;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.fa-section-text {
  color: #372772;
  font-size: 2.1rem;
  align-self: auto;
  font-style: Regular;
  font-family: Space Grotesk;
  font-weight: 700;
  margin-bottom: 40px;
  text-decoration: none;
}
.fa-section-searchbox {
  width: 408px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
}
.fa-search-input {
  width: 360px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgba(207, 203, 221, 1);
  outline: 0;
  padding-left: 12px;
  font-size: 1rem;
}
.fa-section-button {
  /* display: flex; */
  padding: 0 16px;
  /* overflow: hidden; */
  align-self: stretch;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.0430000014603138);
  align-items: center;
  border: 1px solid rgba(55, 39, 114, 1);
  background-color: rgba(55, 39, 114, 1);
  border-radius: 0 2px 2px 0;
  justify-content: center;
}

.fa-section-input {
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0px;
}
.fa-section-text02 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
}
.fa-section-text03 {
  color: var(--dl-color-colors_black-black6);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
/* .fa-section-button {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.0430000014603138);
  align-items: center;
  border-color: rgba(55, 39, 114, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 2px 2px 0;
  justify-content: center;
  background-color: var(--dl-color-colors_primary-primary6);
} */
.fa-section-iconwrapper {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.fa-section-union {
  top: 1.0000849962234497px;
  left: 1.000010371208191px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.fa-section-faqcollapse {
  width: 863px;
  /* display: flex; */
  /* overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent; */
  flex-direction: column;
}
.fa-section-collapseitem {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 15px;
  flex-direction: column;
  background-color: var(--dl-color-neutral-1);
}
.fa-section-frame527 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.fa-section-header {
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
}
.fa-section-frame526 {
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.fa-section-texttext {
  height: 22px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
.fa-section-text05 {
  color: var(--dl-color-character-title85);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.fa-section-downframe {
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.fa-section-down {
  width: 12px;
  height: 12px;
  position: relative;
}
.fa-section-content1 {
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.fa-section-text07 {
  display: flex;
  padding: 10px 10px 10px 0;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.fa-section-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.fa-section-collapseitem1 {
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: var(--dl-color-neutral-2);
}
.fa-section-frame530 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.fa-section-texttext1 {
  width: 150px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
.fa-section-text10 {
  color: var(--dl-color-character-title85);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.fa-section-frame529 {
  width: 27px;
  display: flex;
  padding: 5px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.fa-section-right {
  width: 12px;
  height: 12px;
  position: relative;
}
.fa-section-collapseitem2 {
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: var(--dl-color-neutral-2);
}
.fa-section-frame5301 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.fa-section-texttext2 {
  width: 150px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
.fa-section-text12 {
  color: var(--dl-color-character-title85);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.fa-section-frame5291 {
  width: 27px;
  display: flex;
  padding: 5px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.fa-section-right1 {
  width: 12px;
  height: 12px;
  position: relative;
}
.fa-section-collapseitem3 {
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-neutral-2);
}
.fa-section-frame5302 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.fa-section-texttext3 {
  width: 150px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
.fa-section-text14 {
  color: var(--dl-color-character-title85);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.fa-section-frame5292 {
  width: 27px;
  display: flex;
  padding: 5px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.fa-section-right2 {
  width: 12px;
  height: 12px;
  position: relative;
}

.faq-container-2 {
  display: none;
}

/* landing page frequent */

.top-h1 {
  font-size: var(--landing-h1);
  font-weight: var(--font-weight-700);
  color: var(--btn-white);
  text-align: center;
}

.fq-btn {
  padding-top: 5px;
  color: var(--btn-white);
}

.font-fq {
  color: var(--btn-white);
  font-size: var(--landing-p);
  transform: translateY(-50%) rotate(90deg);
}

.font-fq-add {
  transform: translateY(-50%) rotate(0deg);
  color: var(--btn-white);
  font-size: var(--landing-p);
  position: relative;
  top: 0.6rem;
}
.fq-qna {
  border: 1px solid #bfbfbf;
  margin-bottom: 15px;
}
.fq-holder {
  margin: 0 0 8px;
  border-radius: 4px;
  font-weight: 400;
  padding: 1.2rem 2rem;
  /* width: 65%; */
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.fq-p-head,
.fq-content {
  color: black;
  font-size: var(--landing-p);
  font-weight: 500;
}

.fq-content {
  margin-bottom: 2px;
  top: -6px;
  border: 0;
  font-weight: 400;
  padding: 1.2rem 2rem;
  position: relative;
  /* width: 65%; */
  background-color: #ffffff;
}

.content-p {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.p-2 {
  padding-top: 0rem;
}

.fq-content {
  /* background: #303030; */
  display: block;
  text-align: left;
  overflow: hidden;
  max-height: 1200px;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  visibility: visible;
  margin-top: 0rem;
}

.fq-content-hidden {
  max-height: 0;
  margin-bottom: 0rem;
  visibility: hidden;
}
/* Tab View */
@media screen and (max-width: 1000px) {
  .fa-section-text {
    font-size: 1.5rem;
  }

  .fa-section-container {
    padding: 5rem 32px 16px 32px;
  }

  .fa-search-input {
    width: 260px;
  }
  .fa-section-faqcollapse {
    width: 100%;
  }
}

/* Mobile View */
@media screen and (max-width: 500px) {
  .fa-section-text {
    font-size: 1rem;
  }
  .fa-section-searchbox {
    width: initial;
  }
  .fa-search-input {
    width: 260px;
  }
  .fa-section-faqcollapse {
    width: 313px;
  }
  .fq-holder {
    padding: 0.9rem 1.3rem;
  }
}
