.landing1-container {
  padding: 5rem 112px 16px 64px;
}

.t-l-pg {
  display: none;
}

.t-l-button {
  border-color: rgba(55, 39, 114, 1);
  background-color: rgba(55, 39, 114, 1);
  color: white;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.0430000014603138);
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}

.t-l-text {
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  text-decoration: none;
  color: rgba(119, 104, 107, 1);
}

.t-l-paragraph {
  margin-top: 24px;
  margin-bottom: 4rem;
  font-size: 44px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 700;
  font-stretch: normal;
  color: rgba(69, 69, 69, 1);
  text-align: left;
  line-height: 52px;
}

.healthcare {
  color: rgba(88, 166, 180, 1);
}

.event {
  color: rgba(55, 39, 114, 1);
}

.landing1-top {
  display: flex;
  justify-content: space-between;
}

.landing-top-right {
  display: flex;
  justify-content: center;
  width: 90%;
  /* border: 1px solid red; */
}

/* bottom section */

.event-party {
  border-radius: 8px;
  height: 240px;
}

.event-pic {
  /* border: 1px solid red; */
  width: 50%;
}

.white-pic {
  /* border: 1px solid green; */
  margin-top: -2rem;
  margin-left: 5rem;
}

.pie1 {
  margin-top: 13rem;
}

.two-bulb {
  margin-top: 7rem;
}
.landing1-bottom {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.t-l-et {
  display: block;
  text-align: left;
  line-height: 26px;
  font-size: 18px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400px;
  font-stretch: normal;
  display: block;
  color: rgba(69, 69, 69, 1);
  margin-bottom: 24px;
  margin-left: 1rem;
  width: 90%;
  margin-top: 3.5rem;
}

.event-text {
  width: 100%;
}

@media screen and (max-width: 1270px) {
  .landing1-top {
    display: block;
  }

  .event-party {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin-top: -5rem;
  }

  .landing-top-right {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }

  .t-l-paragraph {
    margin-bottom: 3rem;
  }

  /* bottom section */
  .pie1 {
    display: none;
  }

  .white-pic {
    margin-top: 6rem;
    margin-left: 0rem;
    width: 190px;
    height: 200px;
  }

  .event-pic {
    width: 200px;
  }

  .t-l-et {
    margin-top: 2rem;
    margin-left: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 1130px) {
  .landing1-container {
    padding: 5rem 32px 16px 32px;
  }
}

@media screen and (max-width: 750px) {
  .landing-top-right {
    display: none;
  }

  .t-l-paragraph {
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 600;
  }

  .t-l-pg {
    text-align: left;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 400px;
    font-stretch: normal;
    display: block;
    color: rgba(69, 69, 69, 1);
    margin-bottom: 24px;
  }

  .t-l-et {
    display: none;
  }

  .white-pic {
    margin-top: 3rem;
  }

  .two-bulb {
    margin-top: -0.8rem;
  }
}

@media screen and (min-width: 2000px) {
  .landing1-landing1 {
    width: 50%;
    margin-bottom: 0.8rem;
    /* border: 1px solid red; */
  }

  .landing1-container {
    display: flex;
    justify-content: center;
  }
}
