:root{
  --dl-color-colors_black-black12:#141414;
  --dl-color-colors_primary-primary6:#372772;
  --dl-color-colors_primary-primary10:#191233;
  --dl-color-colors_white-white1:#ffffff;
  --dl-color-colors_secondary-secondary1:#F0F9FB;
}

.footer-sec{
  padding: 88px 64px 40px 64px;
  background-color: var(--dl-color-colors_secondary-secondary1);
  border-top: 2px solid #EBE9F1;
}
.footer-top-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-left{
  width: 500px;
}
.footer-logo{
  width: 200px;
}
.left-txt{
  width: 335px;
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 24px;
  text-align: left;
  margin: 22px 0 32px;
  color: var(--dl-color-colors_primary-primary10);
}
.foot-icons{
  display: flex;
  justify-content: space-between;
  width: 185px;
}
.footer-right{
  width: 568px;
}
.newslet-cont{
  margin-bottom: 32px;
}
.newslet-cont span input{
  width: 320px;
  height: 38px;
  border: none;
  outline: none;  
  padding:8px 24px ;
  border-radius: 4px 0 0 4px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.newslet-cont span input::placeholder{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #BFBFBF;

}
.newslet-cont button{
  height: 38px;
  padding: 8px 16px;
  background-color: var(--dl-color-colors_primary-primary6);
  border: 0;
  border-radius: 4px;
  font-family: Montserrat;
  font-size: .8rem;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
color: #ffffff;
}
.foot-link-cont{
  display: flex;
  justify-content: space-between;
}
.foot-link-cont h3{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 42px;
  color: var(--dl-color-colors_primary-primary6);
}
.foot-link-cont li{
  list-style: none;
}
.foot-links{
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 32px;
  color: var(--dl-color-colors_primary-primary10);
  cursor: pointer;
}
.links-right{
  width: 248px;
}
.tc-p{
  display: flex;
  justify-content: center;
  margin: 52px 0 10px;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--dl-color-colors_primary-primary10);
}
.tc-p div img{
  margin-right: 5px;
}
.tc-p div span{
  margin-right: 8px;
}
.c-right{
  margin-right: 40px;
}
@media screen and (max-width: 1000px) {
  .footer-top-wrapper {
      display: grid;
    grid-template-columns: 50% 50%;
    /* gap: 40px; */
  }
  .footer-right,.footer-left{
    width: initial;
  }
  .newslet-cont span input{
    width: inherit;
  }
  .newslet-cont button{
    width: initial;
  }
}
@media screen and (max-width: 980px) {
  .footer-top-wrapper {
    display: initial;
  }
  .left-txt{
    width: 70%;
  }
.newslet-cont span input {
  width: 522px;
}
  .footer-right{
    margin-top: 50px;
  }
}
@media screen and (max-width: 850px) {
  
  .newslet-cont span input {
    width: 412px;
  }
}
@media screen and (max-width: 730px) {
  
  .newslet-cont span input {
    width: 312px;
  }
}
@media screen and (max-width: 630px) {
  .footer-sec {
      padding: 88px 32px 40px 32px;
  }
  .newslet-cont span input {
    width: 100%;
    height: 42px;
  }
  .newslet-cont button {
    width: 100%;
  }
  .left-txt{
    width:100%;
  }
  .foot-link-cont{
    display: initial;
  }
  .links-right{
    margin-top: 32px;
  }

}