.ourprocess-container {
  padding: 5rem 112px 16px 64px;
}
.ourprocess-ourprocess {
  width: 100%;
  overflow: hidden;
}
/* process top section */
.ourprocess-top-heading {
  width: 761px;
  text-align: left;
  line-height: 64px;
  font-size: 52px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500;
  color: rgba(25, 18, 51, 1);
}

.ourprocess-top-bottom {
  /* border: 1px solid black; */
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 6.5rem;
  display: flex;
}

.ourprocess-top-bottom-2 {
  display: none;
}
.top-1,
.top-2,
.top-3 {
  font-size: 28px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 36px;
  color: rgba(69, 69, 69, 1);
  /* border: 1px solid red; */
  width: 35%;
}

.top-h-1,
.top-h-3 {
  display: flex;
  justify-content: flex-end;
}
.top-g-1,
.top-g-3 {
  display: flex;
}

.top-g-2 {
  display: flex;
  justify-content: flex-end;
}
.top-1-a,
.top-1-b,
.top-1-c,
.top-3-a,
.top-3-b,
.top-3-c {
  width: 204px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(236, 217, 194, 1);
}

.top-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-pg {
  width: 311px;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 26px;
  margin-right: 0;
  margin-bottom: 32px;
}

.arrow5,
.arrow4 {
  margin-top: 3rem;
}
.top-3-c {
  margin-top: 7rem;
}
.top-1-c {
  margin-top: 6.5rem;
}
.top-1-b {
  background: rgba(234, 245, 230, 1);
}

.top-1-c {
  background: rgba(240, 249, 251, 1);
}

.top-3-a {
  background: rgba(247, 230, 230, 1);
}

.top-3-b {
  background: rgba(250, 248, 248, 1);
}

.top-3-c {
  background: rgba(235, 233, 241, 1);
}
/* process bottom section */
.ourprocess-upsel {
  /* border: 1px solid green; */
  background-color: rgba(255, 255, 255, 1);
  display: block;
  padding-left: 4.5rem;
}
.ourprocess-heading {
  padding: 4px 0;
}
.ourprocess-text {
  color: rgba(55, 39, 114, 1);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: 52px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.ourprocess-frame-contain {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  /* border:1px solid red; */
}
.ourprocess-frame {
  /* width: 470px; */
  display: flex;
  padding: 8px 0;
  margin-top: 4rem;
}
.ourprocess-frame-image {
  width: 72px;
  height: 72px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.ourprocess-project {
  width: 32px;
  height: 32px;
}
.ourprocess-frame-content {
  width: 390px;
  display: flex;
  padding: 0 8px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.ourprocess-title {
  color: var(--dl-color-colors_black-black9);
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.ourprocess-paragraph {
  color: var(--dl-color-colors_black-black9);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.title-second {
  display: none;
}
@media screen and (max-width: 1200px) {
  .ourprocess-upsel {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 1155px) {
  .top-1,
  .top-2,
  .top-3 {
    font-size: 24px;
  }

  .top-1-a,
  .top-1-b,
  .top-1-c,
  .top-3-a,
  .top-3-b,
  .top-3-c {
    width: 170px;
    height: 80px;
  }

  .top-pg {
    width: 311px;
    font-size: 16px;
  }

  .arrow5,
  .arrow4 {
    margin-top: 2rem;
  }
  .top-3-c {
    margin-top: 8.5rem;
  }
  .top-1-c {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 1130px) {
  .ourprocess-container {
    padding: 5rem 32px 16px 32px;
  }
}

@media screen and (max-width: 1030px) {
  .ourprocess-top-heading {
    width: 511px;
    text-align: left;
    line-height: 36px;
    font-size: 28px;
    font-style: normal;
    font-family: Space Grotesk;
    font-weight: 700;
    color: rgba(25, 18, 51, 1);
  }

  .ourprocess-frame-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ourprocess-frame {
    width: 650px;
    display: flex;
    padding: 8px 0;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .top-1,
  .top-2,
  .top-3 {
    font-size: 23px;
  }

  .top-1-a,
  .top-1-b,
  .top-1-c,
  .top-3-a,
  .top-3-b,
  .top-3-c {
    width: 140px;
    height: 60px;
  }

  .top-pg {
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .ourprocess-top-bottom {
    display: none;
  }
  .ourprocess-top-bottom-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5.5rem;
  }
  .images {
    width: 100%;
  }
}

@media screen and (max-width: 855px) {
  .top-1,
  .top-2,
  .top-3 {
    font-size: 20px;
  }

  .top-1-a,
  .top-1-b,
  .top-1-c,
  .top-3-a,
  .top-3-b,
  .top-3-c {
    width: 110px;
    height: 60px;
  }

  .top-pg {
    font-size: 16px;
  }
}
@media screen and (max-width: 730px) {
  .ourprocess-frame {
    width: 470px;
    display: flex;
    padding: 8px 0;
    margin-bottom: 1rem;
  }

  .ourprocess-text {
    color: rgba(55, 39, 114, 1);
    font-size: 24px;
  }

  .ourprocess-top-bottom-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 550px) {
  .ourprocess-top-heading {
    width: 312px;
  }

  .title-second {
    display: block;
  }

  .ourprocess-frame-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .frame-content-second {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-first {
    display: none;
  }

  .ourprocess-title {
    color: var(--dl-color-colors_black-black9);
    height: auto;
    flex-grow: 1;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Space Grotesk;
    font-weight: 500;
    line-height: 28px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .ourprocess-paragraph {
    font-size: 16px;
    width: 350px;
  }
  .ourprocess-frame {
    display: block;
    width: 350px;
    /* border:1px solid red; */
  }
}

@media screen and (max-width: 500px) {
  .ourprocess-paragraph {
    font-size: 16px;
    width: 100%;
    text-align: justify;
  }
  .ourprocess-frame {
    display: block;
    width: 95%;

    /* border:1px solid red; */
  }

  .ourprocess-frame-content {
    width: 98%;
  }
}

@media screen and (min-width: 2000px) {
  .ourprocess-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .ourprocess-ourprocess {
    width: 58%;
  }

  .ourprocess-text {
    font-size: 36px;
  }
}